html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}

.container {
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 5%;
    z-index: 10;
    background-color: black;
}

.logo {
    margin: 0;
}

.logo__link {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.08em;
    text-decoration: none;
}

.logo__link:hover {
    color: #fff;
}

.navigation__items {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__item {
    padding: 0 1rem;
}

.navigation__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation__link:hover {
    border-bottom: 1px solid #fff;
}

.social-media {
    z-index: 100;
    position: fixed;
    display: flex;
    bottom: 1%;
    right: 5%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.411)
}

.social-media__vk {
    flex: 1;
    width: 56px;
    height: 60px;
    margin-right: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/social-media.png');
    background-size: cover;
    background-position: 55px 0px;
    cursor: pointer;
}

.social-media__tg {
    flex: 1;
    width: 55px;
    height: 60px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/social-media.png');
    background-size: cover;
    background-position: 0px 0px;
    cursor: pointer;
}

.content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transition: top 1s;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10% 5% 5% 5%;
}

.section_0 {
    background-color: #f7df1d;
    display: flex;
    justify-content: space-between;
}

.section_0__logo {
    flex: 1;
    max-width: 390px;
    height: 100%;
    max-height: 500px;
    margin-left: 2%;
    background-image: url('../img/logotransparent.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.section_1 {
    background-color: #000;
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    align-content: center;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 50vh;
}

article {
    flex: 2;
    /* width: 14rem; */
    min-width: 200px;
    border: 1px solid white;
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 1.5px 0 0 rgba (0, 0, 0, 0.5);
}

.section__article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section__article p {
    flex: 1;
    padding: 0 1%;
    border-right: 1px solid white;
}

.section__article p:last-child {
    border: none;
}

.section_2 {
    /* background-color: #f7df1d; */
    color: black;
}

.galery {
    /* display: grid; */
    width: 100%;
    height: inherit;
    margin: auto;
    align-self: center;
    /* grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px; */
}

.galery__image {
    position: relative;
    height: inherit;
    border: 3px solid white;
    border-radius: 8px;
    background-image: url("https://pp.userapi.com/c824501/v824501913/2af06/7NOiMA8f9KA.jpg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /* filter: grayscale(70%); */
}


/* #galery .image:hover {
    filter: none;
} */


/* 
#galery .active {
    position: absolute;
    width: 90vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 100;
} */

.galery__image__button {
    position: absolute;
    top: 40%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    cursor: pointer;
}

.galery__image__left {
    left: -40px;
    border-right-color: rgba(255, 255, 255, 0.650);
    border-left: 0;
}

.galery__image__left:hover {
    border-right-color: white;
}

.galery__image__right {
    right: -40px;
    border-left-color: rgba(255, 255, 255, 0.650);
    border-right: 0;
}

.galery__image__right:hover {
    border-left-color: white;
}


/* 
#galery .image:nth-child(1) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2af06/7NOiMA8f9KA.jpg");
}

#galery .image:nth-child(2) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2aede/PXD2W0IUT3k.jpg");
}

#galery .image:nth-child(3) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2aee8/9kYdpn86k8s.jpg");
}

#galery .image:nth-child(4) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2aed4/7GJWvGzg2Vk.jpg");
}

#galery .image:nth-child(5) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2aef2/tb6HVmbJZQc.jpg");
}

#galery .image:nth-child(6) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2af2c/gvWMYlI3I0k.jpg");
}

#galery .image:nth-child(7) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2aeac/y1w798awuPU.jpg");
}

#galery .image:nth-child(8) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2af06/7NOiMA8f9KA.jpg");
}

#galery .image:nth-child(9) {
    background-image: url("https://pp.userapi.com/c824501/v824501913/2af06/7NOiMA8f9KA.jpg");
} */

.section_3 {
    background-color: black;
}

.section_4 {
    background-color: gold;
}

.section__title {
    margin: 0;
    padding-top: 10%;
    font-size: 4rem;
    text-align: center;
}

.section__map {
    width: 600px;
    height: 420px;
    position: absolute;
    top: 56%;
    left: 50%;
    margin: 0;
    text-align: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 1220px) {
    /*почему max-width?переделать?*/
    article {
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

@media (max-width: 770px) {
    .section_1 {
        padding: 5%;
    }
}

@media (max-width: 680px) {
    .header {
        padding: 1.5rem;
    }
    .logo__link {
        font-size: 1.5rem;
    }
    .navigation__link {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .navigation__link {
        display: none;
    }
    article {
        display: none;
    }
    .section_0__logo {
        width: 250px;
        height: 300px;
    }
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.myMap {
    height: 100vh;
    padding-top: 100px;
}

.login-form {
    flex: 1;
    background-color: #fff;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    box-shadow: 7px 7px 0 0 #121018;
    color: #121018;
    font-size: 14px;
    line-height: 18px;
}

.login-form__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    padding: 10px 15px;
    width: 88%;
}

.login-form__content:last-child {
    display: inline-block;
    padding-top: 35px;
}

.login-form__title {
    font-size: 34px;
    font-weight: bold;
    line-height: 52px;
    margin-bottom: 25px;
}

.login-form__title:first-letter {
    color: #f7df1d;
}

.login-form__input {
    align-self: center;
    width: 97%;
    padding: 10px;
    padding-left: 3%;
    border: 3px solid #121018;
    border-radius: 25px;
    transition: all 0.3s;
}

.login-form__label {
    font-weight: bold;
    line-height: 24px;
}

.login-form__input:active {
    box-shadow: 0 0 0 1px #f7df1d inset, 0 2px 2px rgba(0, 0, 0, 0.4) inset
}

.login-form__button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: #f7df1d;
    color: #121018;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: bold;
}

.login-form__button:hover {
    background-color: #ddc81a;
    box-shadow: 0 0 0 0.5px #b1815b, 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.login-form__acception {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 5px;
}

.login-form__acception__link {
    color: #121018;
}

.articles__button {
    flex: 1;
    height: 70px;
    cursor: pointer;
}

.articles__back-switch {
    transform: rotate(180deg);
}

.articles__content {
    flex: 3;
    padding: 0 10px;
}